
.clearfix {
    clear:both;
    display: block;
}

.focused {
    background-color: #ff9;
}

.cell {
    float: left;
    position: relative;
    transition: background 0.25s;
}

.cell-number {
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    position: absolute;
    top: 2px;
    left: 7px;
    color: #555;
    font-size: 6pt;
}

.cell-content {
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    border: 1px solid black;
}

.input-cell {
    background-color: gold;
    transform: scale(1.15);
    transition: transform 0.15s ease-out;
    z-index: 100000;
}

.cell-list {
    border: 1px solid black;
}

.unplayable {
    background-color: #444;
}

.flex-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.clue-list-container {
    max-height: 40vh;
    overflow-y: auto;
}

.clue-list {
    padding: 0;
    margin: 0;
}

.clue-number, .clue-phrase {
    display: inline-block;
    cursor: pointer;
}

.clue-number {
    margin-right: 5px;
    font-weight: bold;
}

.clue-container {
    list-style-type:none;
}

.active-clue {
    background-color: gold;
}

.incorrect {
    background-color: red;
}

div.container {
    width: 100%;
    max-width: 1100px;
    padding: 5px;
}

.small-vertical-space {
    display: block;
    height: 10px;
}

.clue-list-header {
    margin: 0 0 5px 0;
}

label {
    cursor: pointer;
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
}

.loading, #app {
    transition: transform 1s, opacity 0.5s;
}

.out {
    opacity: 0;
}

.current-clue-text {
    font-family: Georgia;
    font-weight: normal;
}

.current-clue {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.foo {
    border: 1px solid black;
    width: 10%;
    padding-top: 10%;
    float: right;
    transition: background-color 0.5s;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    text-shadow: 0 0 2px #ccc;
    
}

.highlighted {
    background-color: black;
}